#!/usr/bin/env bash
set -euo pipefail
set -x

IFS="
"

# Arch Linux specifics
{{ if hasKey .chezmoi.osRelease "idLike" -}}
{{ if eq .chezmoi.osRelease.idLike "arch" | default "" -}}

# arch.sh: {{ include "install/archlinux/arch.sh" | sha256sum }}
source {{ joinPath .chezmoi.sourceDir "install/archlinux/arch.sh" | quote }}

# pacman.txt: {{ include "install/archlinux/pacman.txt" | sha256sum }}
# yay.txt: {{ include "install/archlinux/yay.txt" | sha256sum }}
arch_install {{ joinPath .chezmoi.sourceDir "install/archlinux/pacman.txt" | quote }} {{ joinPath .chezmoi.sourceDir "install/archlinux/yay.txt" | quote }} 
{{ end -}}
{{ end -}}
# Arch Linux specifics
{{ if eq .chezmoi.osRelease.id "fedora" -}}

# fedora.sh: {{ include "install/fedora/fedora.sh" | sha256sum }}
source {{ joinPath .chezmoi.sourceDir "install/fedora/fedora.sh" | quote }}

# dnf.txt: {{ include "install/fedora/dnf.txt" | sha256sum }}
dnf_install {{ joinPath .chezmoi.sourceDir "install/fedora/dnf.txt" | quote }} {{ joinPath .chezmoi.sourceDir "install/fedora/copr.txt" | quote }} 
{{ end -}}

# Binary installs
# rust.sh: {{ include "install/binary/rust.sh" | sha256sum }}
{{ joinPath .chezmoi.sourceDir "install/binary/rust.sh" }}
