#!/usr/bin/env bash
set -euo pipefail
set -x

IFS="
"

if [ ! -f /etc/fedora-release ]; then
        echo "This is not a Fedora Linux"
        exit 1
fi

enable_copr() {
    COPR_PKG="${1:-$(pwd)/fedora/copr.txt}"

    cat ${COPR_PKG} | xargs -L1 sudo dnf copr enable -y
}

install_dnf() {
    DNF_PKG="${1:-$(pwd)/fedora/dnf.txt}"

    echo "Installing Fedora Linux packages"
    sudo dnf install -y $(cat $DNF_PKG)

}

enable_repo_codium() {
    sudo tee -a /etc/yum.repos.d/vscodium.repo << 'EOF'
[gitlab.com_paulcarroty_vscodium_repo]
name=gitlab.com_paulcarroty_vscodium_repo
baseurl=https://paulcarroty.gitlab.io/vscodium-deb-rpm-repo/rpms/
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg
metadata_expire=1h
EOF
sudo rpmkeys --import https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/-/raw/master/pub.gpg
}

enable_repo_codium

# copr.txt hash: {{ include "install/copr.txt" | sha256sum }}
enable_copr {{ joinPath .chezmoi.sourceDir "install/copr.txt" | quote }}

# dnf.txt hash: {{ include "install/dnf.txt" | sha256sum }}
install_dnf {{ joinPath .chezmoi.sourceDir "install/dnf.txt" | quote }}
